.support {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.support-heading {
  font-weight: 600;
  display: flex;
  align-items: center;
  gap: 5px;
  color: #fff;
}
.support-body-wrapper {
  display: flex;
  flex-direction: row;
  gap: 20px;
}
.support-body {
  padding: 20px;
  border-radius: 10px;
  width: 32%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 120px;
  box-shadow: rgb(38, 57, 77) 0px 20px 30px -10px;
}
.support-body-1 {
  /* background-color: #9a3de4; */
  background:linear-gradient(135deg, #f02fc2 0%,#6094ea 100%);
  color: #fff;
}
.support-body-2 {
  /* background-color: #ff7715; */
  background:linear-gradient(135deg, #fad961 0%,#f76b1c 100%);
  color: #fff;
}
.support-body-3 {
  border: 1px solid #c7c7c7;
  color: #000;
  background:linear-gradient(135deg, #ffffff 0%,#cacfda 100%);  /* background-color: #fff; */
}
.support-box-body {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.support-box-body-data {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.support-button {
  display: flex;
  background: none;
  border: 1px solid #fff;
  border-radius: 10px;
  padding: 10px;
  cursor: pointer;
  color: #fff;
  gap: 10px;
  align-items: center;
}
.support-button:hover{
  background-color: #fff;
  color: #000;
}
.forum {
  background-color: blue;
}
.forum:hover{
  background-color: #30cccf;
}
