.brand-store {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.brand-store-heading {
  font-weight: 600;
  display: flex;
  align-items: center;
  gap: 5px;
}
.brand-store-box {
  border: 1px solid #c7c7c7;
  padding: 10px;
  background-color: #fff;
  border-radius: 6px;
}
.brand-store-box-body {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.brand-store-box-body-left {
  display: flex;
  align-items: center;
  gap: 10px;
  font-size: 14px;
}
.brand-store-box-body-data {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
